.cards{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.cards img{
    width: 500px;
    border-radius: 40px;
    margin-right: 20px;
    padding: 20px;
    transition-duration: 1s;
    
}

.cards img:hover{
    transition-duration: 0.7s;
    transform: translateY(-10px);
    cursor: pointer;
}

.cards section{
    background-color: rgba(1, 9, 28, 0.75);
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.25));
    transition-duration: 1s;
}

.cards section:hover{
    transition-duration: 0.7s;
    transform: translateY(-10px);
    cursor: pointer;
}

.cards h3{
    font-size: 25px;
}
